<main>
        <div class="retail background parallax" data-img-width="1300" data-img-height="620" data-diff="75" style="background-image:url(images/bck2.jpg);">
        	<div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Retail Services</h1>
                        <ul>
                            <li>OFFUZ is the new scalable solution exclusively for SMBs to get deals and promotions in front of the consumers in a collaborative manner and increase revenues.</li>
                           <li>If you offer deals or promotions today, or you want to start so that you can increase footfall in quiet trading times, OFFUZ is the solution you need.</li>
                            <li>Independent research by Poq Studios has found that consumers who use their app to show their loyalty card/promotion to store staff, are 2.1 times more likely to convert. The most innovative retailers digitise their loyalty, making it possible to reward shoppers automatically for interactions with their brand at every touchpoint.</li>
                            <li>With sales on smartphones growing by 97%, whilst sales via tablet growing at 12%, now is the point at which mobile location based marketing is at a tipping point. A sign that retailers cannot afford to ignore.</li>
                            <li>OFFuz is free to register and use, and is available to all SMBs regardless of your sector. So whether you are a butcher, mechanic, lawyer, charity, sports club to a barber, OFFUZ is the outlet for you to reach the consumers.</li>
                            <li>Most importantly, and unlike our competitors, we do not want or ask for any share of the money you make as a result of the OFFUZ service. Your revenues are yours and yours alone. In addition to this, OFFUZ does not enforce any particular type of payment, so whether you accept cash, card, cheque or anything else, it is entirely up to you, the retailer – it is your business after all.</li>
                            <li>Need more reasons? OFFUZ also allows the consumers and their network of friends to see when OFFUZ has been downloaded and recommended, therefore leveraging the influencer sale.</li>
                            <li>All you need to get going is internet access. We do not need any of your personal data or bank/card data – just your business contact information. You control absolutely everything else from the type of OFFUZ you want to publish (buy one get one free, discount, bulk buy, free) and how you want the consumer to takes up the OFFUZ using a code, a picture, a phrase, or a symbol that you determine.</li>
                        </ul>
                  	</div>
                </div>
            </div>
        </div>
        <div class="consumer background parallax" data-img-width="1300" data-img-height="620" data-diff="75" style="background-image:url(images/consumer.png);">
            <div class="container">
            <div class="row">
            	<div class="col-lg-12">
                    <h1>Consumer Services</h1>
                    <ul>
                        <li>For consumers, the OFFUZ app allows you to search for all the normal stuff you would expect from others deals apps, like restaurants and experiences. But most importantly, it contains all the things that are just as important for day-to-day life, like food, groceries, household and car maintenance, fashion and styling, and professional services.</li>
                       <li>Where OFFUZ differs significantly from the rest, is that we do not ask for or need any of your personal information. OFFUZ doesn’t need payment data as we are not involved in the payment process between you and the retailer.</li>
                        <li>Independent research by Poq Studios has found that consumers who use their app to show their loyalty card/promotion to store staff, are 2.1 times more likely to convert. The most innovative retailers digitise their loyalty, making it possible to reward shoppers automatically for interactions with their brand at every touchpoint.</li>
                        <li>All OFFUZ accesses, is your mobile geo-location to determine the merchant OFFuz in your location.Other than that, the consumer remains completely anonymous to the retailer, just as it should be. No data will be shared directly with the retailer, and OFFUZ will not sell the minimal data we do collect, to anyone, ever!</li>
                        <li>When you find an OFFUZ you like, download the OFFUZ code or image and present it to the retailer instore or online in order to redeem the OFFUZ. And that is it. You get some kind of reward for taking your custom to the retailer.</li>
                    </ul>
            	</div>
        	</div>
        </div>
        </div>
    </main>
    <script src="/javascripts/Front/web_js/parallax-background.js"></script>